#home-page-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #40916c;
}

#pun-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 12rem;
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin-top: 4rem;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0 0 1.5rem -.5rem rgba(0, 0, 0, .5);
}

.clicked-pun-container {
    animation-name: flip-card;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@keyframes flip-card {
    0% {
        transform: rotateX(0deg);
        color: whitesmoke;
    }
    25% {
        transform: translateX(180deg);
        color: whitesmoke;
    }
    50% {
        transform: rotateX(90deg);
        color: whitesmoke;
    }
    100% {
        transform: rotateX(0deg);
    }
}

#link-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28rem;
    width: 100%;
    padding: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #252422;
    box-shadow: 0 0 2rem -.5rem rgba(0, 0, 0, .2);
    animation-name: slide-up;
    animation-duration: 1s;
}

@keyframes slide-up {
    0% {
        transform: translateY(800px);
    }
    25% {
        transform: translateY(600px);
    }
    50% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0);
    }
}

.homePageLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
    height: 8rem;
    width: 18rem;
    margin: 1rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    border: none;
}

.practiceLink {
    background-color: #00c9fb;
    color: white;
    box-shadow: 
    0 0 1.5rem -.5rem #24caf4,
    0 0 1.5rem -.5rem #24caf4,
    0 0 5rem -.5rem rgba(0, 0, 0, .1)
    ;
    text-shadow:0 0 -50px yellow;
}

.flashcardLink {
    background-color: #fb1327;
    color: white;
    box-shadow: 
    0 0 1.5rem -.5rem #ff1c2f,
    0 0 1.5rem -.5rem #e63946,
    0 0 5rem -.5rem rgba(0, 0, 0, .1)
    ;
    text-shadow:0 0 -50px yellow;
}

.searchLink {
    background-color: #b253fa;
    color: white;
    box-shadow: 
    0 0 1.5rem -.5rem #bd6cfb,
    0 0 1.5rem -.5rem #bd6cfb,
    0 0 5rem -.5rem rgba(0, 0, 0, .1)
    ;
    text-shadow:0 0 -50px yellow;
}